<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>vue</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma/css/bulma.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" />
    <style>
        #app2 {
            padding: 20px;
            margin: 20px;
        }
        .level-item .icon {
            margin-right: 10px;
        }
        
        .globalWrap {
            background-color: rgba(0,0,0,0.1);
            padding: 15px;
        }
        
        .global,
        .local {
            padding: 15px;
            margin: 15px;
            box-shadow: 0 0 7px rgba(0,0,0,.1);
            border-radius: 4px;
        }
        .global b,
        .local b {
            font-weight: 600;
        }
        .local {
            background-color: yellow;
        }
        .global {
            background-color: green;
            color: white;
        }
    </style>
</head>

<body>
    <div id="app5">
        {{message}}
        <global-component></global-component>
    </div>
    <div id="app4" style="max-width: 700px; margin: 100px auto;">
        <tweet-component
            v-for="tweet in tweets"
            :key="tweet.id"
            :tweet="tweet"
            @add="addTweetMessage($event)"
        ></tweet-component>
    </div>
    <div id="app3" style="max-width: 300px; margin: 50px auto;">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    {{ name }}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>{{ company.name }}</p>
                    <p>{{ company.catchPhrase }}</p>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#a" class="card-footer-item">{{ email }}</a>
            </footer>
        </div>
        <button @click="upd">Update</button>
    </div>
    <div id="app2">
        <div class="field">
            <label for="km" class="label">Km</label>
            <input v-model="km" class="km" type="number">
        </div>
        <div class="field">
            <label for="m" class="label">m</label>
            <input v-model="m" class="m" type="number">
        </div>
    </div>
    <div id="app">
        <div class="field">
            <label for="name">Name ( {{ name.split('').reverse().join('') }} )</label>
            <input type="text" v-model="name" id="name">
        </div>
        <div class="field">
            <label for="subject">Subject</label>
            <select name="subject" id="subject" v-model="subject">
                <option value="" disabled>Select dropdown</option>
                <option>Engineering</option>
                <option>Computer Science</option>
                <option>Biology</option>
                <option>Other...</option>
            </select>
        </div>
        <div class="field">
            <label for="terms">I agree to the terms and conditions</label>
            <input type="checkbox" name="terms" id="terms" v-model="termsAndConditions">
        </div>
        <div class="field">
            <label for="yes">
                <input type="radio" name="yesOrNo" id="yes" value="yes" v-model="yesOrNo">
                Yes
            </label>
            <label for="no">
                <input type="radio" name="yesOrNo" id="no" value="no" v-model="yesOrNo">
                No
            </label>
        </div>
        <div class="field">
            <button @click="submit">submit</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/lodash/lodash.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./vue_scrpt3.js"></script>
</body>

</html>