.uvSlider__pagination__item {
    padding: 40px 20px;
}

.uvSlider__pagination__item:first-child {
    padding-left: 0;
}

.uvSlider__pagination__item:last-child {
    padding-right: 0;
}

.ghost_tabs__container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.uvSliderItem {
    overflow: hidden;
}

.uvSliderItem:not(.active) {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
    height: 0;
}


.ghost_tabs__container .uvSliderItemsList {
    position: relative;
}

.lead_speech {
    height: 100%;
    display: flex;
}

.lead_speech .uvSliderItem__mainImage {
    max-width: 40%;
    display: flex;
    align-items: flex-end;
}

.lead_speech .uvSliderItem__mainImage img {
    max-width: 100%;
}